// @bad TODO: remove when everything switches to muiColor directive
[data-mui-background="primary"] {
    background-color: var(--mui-primary);
}

[data-mui-background="secondary"] {
    background-color: var(--mui-info-fill);
}

[data-mui-background="success"] {
    background-color: var(--mui-success-fill);
}

[data-mui-background="error"] {
    background-color: var(--mui-error-fill);
}

[data-mui-background="support-mustard"],
[data-mui-background="support-01"] {
    background-color: var(--mui-support-01);
}

[data-mui-background="support-texas"],
[data-mui-background="support-02"] {
    background-color: var(--mui-support-02);
}

[data-mui-background="support-tan"],
[data-mui-background="support-03"] {
    background-color: var(--mui-support-03);
}

[data-mui-background="support-salmon"],
[data-mui-background="support-04"] {
    background-color: var(--mui-support-04);
}

[data-mui-background="support-sienna"],
[data-mui-background="support-05"] {
    background-color: var(--mui-support-05);
}

[data-mui-background="support-bittersweet"],
[data-mui-background="support-06"] {
    background-color: var(--mui-support-06);
}

[data-mui-background="support-pinkie"],
[data-mui-background="support-07"] {
    background-color: var(--mui-support-07);
}

[data-mui-background="support-charm"],
[data-mui-background="support-08"] {
    background-color: var(--mui-support-08);
}

[data-mui-background="support-amethyst"],
[data-mui-background="support-09"] {
    background-color: var(--mui-support-09);
}

[data-mui-background="support-helio"],
[data-mui-background="support-10"] {
    background-color: var(--mui-support-10);
}

[data-mui-background="support-lilac"],
[data-mui-background="support-11"] {
    background-color: var(--mui-support-11);
}

[data-mui-background="support-malibu"],
[data-mui-background="support-12"] {
    background-color: var(--mui-support-12);
}

[data-mui-background="support-havelock"],
[data-mui-background="support-13"] {
    background-color: var(--mui-support-13);
}

[data-mui-background="support-picton"],
[data-mui-background="support-14"] {
    background-color: var(--mui-support-14);
}

[data-mui-background="support-mint"],
[data-mui-background="support-15"] {
    background-color: var(--mui-support-15);
}

[data-mui-background="support-fountain"],
[data-mui-background="support-16"] {
    background-color: var(--mui-support-16);
}

[data-mui-background="support-puertorico"],
[data-mui-background="support-17"] {
    background-color: var(--mui-support-17);
}

[data-mui-background="support-bay"],
[data-mui-background="support-18"] {
    background-color: var(--mui-support-18);
}

[data-mui-background="support-forest"],
[data-mui-background="support-19"] {
    background-color: var(--mui-support-19);
}

[data-mui-background="support-york"],
[data-mui-background="support-20"] {
    background-color: var(--mui-support-20);
}

[data-mui-background="support-feijoa"],
[data-mui-background="support-21"] {
    background-color: var(--mui-support-21);
}

[data-mui-color="primary"] {
    color: var(--mui-primary);
}

[data-mui-color="secondary"] {
    color: var(--mui-info-fill);
}

[data-mui-color="success"] {
    color: var(--mui-success-fill);
}

[data-mui-color="error"] {
    color: var(--mui-error-fill);
}

[data-mui-color="support-mustard"],
[data-mui-color="support-01"] {
    color: var(--mui-support-01);
}

[data-mui-color="support-texas"],
[data-mui-color="support-02"] {
    color: var(--mui-support-02);
}

[data-mui-color="support-tan"],
[data-mui-color="support-03"] {
    color: var(--mui-support-03);
}

[data-mui-color="support-salmon"],
[data-mui-color="support-04"] {
    color: var(--mui-support-04);
}

[data-mui-color="support-sienna"],
[data-mui-color="support-05"] {
    color: var(--mui-support-05);
}

[data-mui-color="support-bittersweet"],
[data-mui-color="support-06"] {
    color: var(--mui-support-06);
}

[data-mui-color="support-pinkie"],
[data-mui-color="support-07"] {
    color: var(--mui-support-07);
}

[data-mui-color="support-charm"],
[data-mui-color="support-08"] {
    color: var(--mui-support-08);
}

[data-mui-color="support-amethyst"],
[data-mui-color="support-09"] {
    color: var(--mui-support-09);
}

[data-mui-color="support-helio"],
[data-mui-color="support-10"] {
    color: var(--mui-support-10);
}

[data-mui-color="support-lilac"],
[data-mui-color="support-11"] {
    color: var(--mui-support-11);
}

[data-mui-color="support-malibu"],
[data-mui-color="support-12"] {
    color: var(--mui-support-12);
}

[data-mui-color="support-havelock"],
[data-mui-color="support-13"] {
    color: var(--mui-support-13);
}

[data-mui-color="support-picton"],
[data-mui-color="support-14"] {
    color: var(--mui-support-14);
}

[data-mui-color="support-mint"],
[data-mui-color="support-15"] {
    color: var(--mui-support-15);
}

[data-mui-color="support-fountain"],
[data-mui-color="support-16"] {
    color: var(--mui-support-16);
}

[data-mui-color="support-puertorico"],
[data-mui-color="support-17"] {
    color: var(--mui-support-17);
}

[data-mui-color="support-bay"],
[data-mui-color="support-18"] {
    color: var(--mui-support-18);
}

[data-mui-color="support-forest"],
[data-mui-color="support-19"] {
    color: var(--mui-support-19);
}

[data-mui-color="support-york"],
[data-mui-color="support-20"] {
    color: var(--mui-support-20);
}

[data-mui-color="support-feijoa"],
[data-mui-color="support-21"] {
    color: var(--mui-support-21);
}
