<ng-container *ngIf="isLoading$ | async; else content">
    <div class="entries-container">
        <div class="entry-block skeleton-entry" *ngFor="let i of [1, 2, 3]">
            <div class="entry-header">
                <app-skeleton height="1.5rem" width="100%"></app-skeleton>
                <app-skeleton height="1.5rem" width="100%"></app-skeleton>

                <div class="entry-toolbar">
                    <app-skeleton height="1.5rem" width="100%"></app-skeleton>
                    <app-skeleton height="1.5rem" width="60px"></app-skeleton>
                    <app-skeleton height="1.5rem" width="24px"></app-skeleton>
                </div>
            </div>
            <app-skeleton height="6rem" width="100%"></app-skeleton>
        </div>
    </div>
    <div class="modal-footer">
        <app-skeleton height="2.5rem" width="150px"></app-skeleton>
    </div>
</ng-container>

<ng-template #content>
    <ng-container *ngIf="entries$ | async as entries">
        <div class="entries-container">
            <div
                *ngFor="let entry of entries; let i = index"
                class="entry-block"
            >
                <div class="entry-header">
                    <input
                        [(ngModel)]="entry.title"
                        class="entry-title"
                        [placeholder]="'lorebook.titlePlaceholder' | translate"
                        (blur)="updateEntry(entry)"
                    />
                    <input
                        [(ngModel)]="entry.category"
                        class="entry-category"
                        [placeholder]="
                            'lorebook.categoryPlaceholder' | translate
                        "
                        (blur)="updateEntry(entry)"
                    />

                    <div class="entry-toolbar">
                        <input
                            [(ngModel)]="entry.keywords"
                            class="entry-keywords"
                            [placeholder]="
                                'lorebook.keywordsPlaceholder' | translate
                            "
                            (blur)="updateEntry(entry)"
                        />

                        <label class="active-toggle">
                            <input
                                type="checkbox"
                                [(ngModel)]="entry.active"
                                (change)="updateEntry(entry)"
                            />
                            {{ "lorebook.active" | translate }}
                        </label>

                        <div
                            class="icon delete-icon"
                            (click)="clickDelete(entry)"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6M9 7h6m2 0H7m4-3h2a1 1 0 011 1v1H8V5a1 1 0 011-1z"
                                />
                            </svg>
                        </div>
                    </div>
                </div>
                <textarea
                    [(ngModel)]="entry.content"
                    class="entry-text"
                    [placeholder]="'lorebook.contentPlaceholder' | translate"
                    (blur)="updateEntry(entry)"
                >
                </textarea>
            </div>
        </div>

        <div class="modal-footer">
            <div>
                <button class="btn-transparent" (click)="addNewEntry()">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M12 4v16m8-8H4"
                        />
                    </svg>
                    <span>{{ "lorebook.addEntry" | translate }}</span>
                </button>
            </div>
        </div>
    </ng-container>
</ng-template>
