@keyframes muiReveal {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes muiFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes muiSkeletonBackgroundVibe {
    from {
        background-color: fade(#000, 8%);
    }

    to {
        background-color: fade(#000, 16%);
    }
}

@keyframes muiSkeletonLightBackgroundVibe {
    from {
        background-color: fade(#fff, 16%);
    }

    to {
        background-color: fade(#fff, 24%);
    }
}
