mui-wrapper[data-appearance="textfield"] {
    .transition(~"box-shadow, background");
    background: var(--mui-base-01);
    color: var(--mui-text-01);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

    &[data-appearance="textfield"]:after {
        .transition(color);
        border-width: 1px;
        color: var(--mui-base-03);
    }

    &[data-state="hovered"] {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
    }

    &._focused {
        box-shadow: none;

        &:after {
            color: var(--mui-primary);
            border-width: 2px;
        }
    }

    &[data-state="readonly"] {
        box-shadow: none;

        &:after {
            color: var(--mui-base-04);
        }
    }

    &[data-state="disabled"] {
        opacity: var(--mui-disabled-opacity);
        box-shadow: none;
    }

    &._invalid._focused:after {
        color: var(--mui-error-fill);
        opacity: var(--mui-disabled-opacity);
    }
}

mui-wrapper[data-appearance="textfield"][data-mode="onDark"] {
    background: var(--mui-clear-inverse);
    color: var(--mui-text-01-night);

    &[data-appearance="textfield"]:after {
        color: var(--mui-text-03-night);
        opacity: var(--mui-disabled-opacity);
    }

    &[data-state="hovered"] {
        background: var(--mui-clear-inverse-hover);

        &:after {
            color: var(--mui-text-02-night);
        }
    }

    &[data-state="readonly"] {
        background: transparent;
    }

    &._invalid._focused:after {
        color: var(--mui-error-fill-night);
    }

    &._focused {
        background: rgba(255, 255, 255, 0.08);

        &:after {
            transition: none;
            color: var(--mui-primary);
            opacity: 1;
        }
    }
}

mui-wrapper[data-appearance="textfield"][data-mode="onLight"] {
    background: var(--mui-clear);

    &[data-state="hovered"] {
        background: var(--mui-clear-hover);
    }

    &[data-state="readonly"] {
        background: transparent;
    }

    &._invalid {
        &:after {
            color: var(--mui-error-fill);
        }

        &._focused {
            background: transparent;
        }
    }

    &._focused {
        background: transparent;

        &:after {
            color: var(--mui-text-01);
        }
    }
}
