<div class="message-renderer">
    <ng-container *ngFor="let block of blocks$ | async; trackBy: trackByBlock">
        <ng-container [ngSwitch]="block.type">
            <div
                *ngSwitchCase="'text'"
                class="block text-block"
                [class.streaming]="isStreaming"
                [innerHTML]="block.safeContent"
            ></div>

            <div
                *ngSwitchCase="'code'"
                class="block code-block"
                [class.streaming]="!block.isComplete"
            >
                <div class="code-header">
                    <span class="language">{{ block.language || "code" }}</span>
                    <span class="status" *ngIf="!block.isComplete">●</span>
                </div>
                <pre class="code-content" [innerHTML]="block.safeContent"></pre>
            </div>

            <div
                *ngSwitchCase="'header'"
                class="block header-block"
                [innerHTML]="block.safeContent"
            ></div>

            <div
                *ngSwitchCase="'list'"
                class="block list-block"
                [innerHTML]="block.safeContent"
            ></div>

            <div
                *ngSwitchCase="'table'"
                class="block table-block"
                [innerHTML]="block.safeContent"
            ></div>

            <div
                *ngSwitchCase="'quote'"
                class="block quote-block"
                [innerHTML]="block.safeContent"
            ></div>

            <div
                *ngSwitchCase="'thinking'"
                class="block thinking-block"
                [class.streaming]="isStreaming"
                [class.expanded]="block.isExpanded || isStreaming"
            >
                <button
                    type="button"
                    class="thinking-header"
                    (click)="toggleThinking(block)"
                    [disabled]="isStreaming"
                >
                    <span class="icon">✦</span>
                    <span class="label">Размышляет</span>
                    <span
                        class="chevron"
                        [class.rotated]="block.isExpanded || isStreaming"
                        >▾</span
                    >
                </button>
                <div
                    class="thinking-body"
                    [class.expanded]="block.isExpanded || isStreaming"
                    [innerHTML]="block.safeContent"
                ></div>
            </div>
        </ng-container>
    </ng-container>
</div>
